:root {
    --text-color: #2C2928;
    --title-color: #699E7E;
    --white-filter: rgba(255, 255, 255, .7);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(to right, #E9E6D9, #fdfdf5, #E9E6D9);
    color: var(--text-color);
}

main {
    margin-left: .2rem;
    margin-right: .2rem;
}

h1 {
    font-size: 2rem;
    color: var(--title-color);
}

h2 {
    font-size: 1.1rem;
    padding-top: .7rem;
}

h3 {
    font-size: 1rem;
}

h2,
h3 {
    font-family: 'Archivo Black', sans-serif;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

h1,
h2,
h3 {
    margin-top: .4rem;
    margin-bottom: .2rem;
}

header h1 {
    font-size: 6rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
}

header footer {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.5rem;
}

header {
    text-align: center;
    background-image: url("../imgs/headerbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0;
    height: 100vh;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}

.title-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.filter {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--white-filter);
}

main h1 {
    background-color: rgba(255, 255, 255, .5);
    text-align: center;
}

main h1+div {
    padding-top: 3rem;
}

main h1.current {
    animation-name: current-h1;
    position: relative;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes current-h1 {
    from {
        top: 0;
    }
    to {
        top: 3rem;
    }
}

nav {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: .3rem;
    position: relative;
    z-index: 1;
    top: -7rem;
    font-size: 1.5rem;
    background-color: var(--white-filter);
    transition: .7s;
    transition-timing-function: ease-in-out;
}

nav.scroll {
    width: 100%;
    background-color: white;
    position: fixed;
    margin: 0;
    top: 0;
    z-index: 1;
}

nav li {
    display: inline-block;
    margin: 0;
    transition: .3s;
    transition-timing-function: ease-in-out;
}

nav li a {
    display: block;
    padding: .5rem .6rem .5rem .6rem;
}

nav li:hover {
    background-color: rgba(0, 0, 0, .1);
    border-radius: .1rem;
}

.edu-wrapper {
    display: inherit;
}

.exp-wrapper {
    display: inherit;
}

.about-wrapper {
    display: inherit;
}

a {
    color: var(--title-color);
    font-weight: bold;
}

section p {
    margin-top: .3rem;
    margin-bottom: .3rem;
    text-align: justify;
}

img {
    box-shadow: .5px .5px 5px rgba(0, 0, 0, .2);
}

img.h {
    max-width: 100%;
    max-height: 15rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;

}

img.v {
    max-height: 65vh;
    width: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

span.bold {
    font-weight: bold;
}

video {
    max-width: 100%;
    max-height: 18rem;
    width: auto;
}

#other-text.hidden {
    display: none;
}

body>footer {
    text-align: center;
    background-color:rgba(255, 255, 255, .5);
    padding-top: .5rem;
}

@media screen and (min-width:768px) {
    img.v {
        max-height: 50vh;
        float: left;
        margin-right: .5rem;
    }
    .edu-wrapper {
        display: grid;
        grid-template: 1fr 2fr / 1fr 1fr 1fr;
        grid-gap: .5rem;
        align-items: center;
    }
    
    .edu-formal {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    
    .edu-training {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    
    .edu-lang {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    
    .edu-wrapper-slim {
        display: inherit;
    }
    
    .exp-wrapper {
        display: grid;
        grid-template: 3rem 19rem 6rem / repeat(2 1fr);
        grid-gap: 2rem;
        align-items: center;
    }
    
    .exp-present-title {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .exp-present-wrapper {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        justify-self: center;
        text-align: justify;
        text-justify: inter-word;
    }
    
    .exp-past-title {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .exp-past-pic {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: center;
    }
    
    .exp-past-text {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        text-align: justify;
        text-justify: inter-word;
        justify-self: center;
    }

}

@media screen and (min-width:1024px) {
    .about-wrapper {
        display: grid;
        grid-template: 20rem / 25vw auto;
        align-items: center;
        grid-gap: 1rem;
    
    }
    
    .about-vid {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    
    .about-text {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
}