:root {
    --text-color: #2C2928;
    --title-color: #699E7E;
    --white-filter: rgba(255, 255, 255, .7);
    --highlight: rgb(139, 64, 89);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(to right, #E9E6D9, #fdfdf5, #E9E6D9);
    color: var(--text-color);
}

main {
    margin-left: .2rem;
    margin-right: .2rem;
}

h1 {
    font-size: 2rem;
    color: var(--title-color);
    clear: both;
}

h2 {
    font-size: 1.1rem;
    padding-top: .7rem;
    clear: both;
}

h3 {
    font-size: 1rem;
}

h2,
h3 {
    font-family: 'Archivo Black', sans-serif;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

h1,
h2,
h3 {
    margin-top: .4rem;
    margin-bottom: .2rem;
}

header h1 {
    font-size: 6rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
}

header footer {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.5rem;
}

header {
    text-align: center;
    background-image: url("../imgs/headerbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0;
    height: 100vh;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}

.title-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.filter {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--white-filter);
}

main h1 {
    background-color: rgba(255, 255, 255, .5);
    text-align: center;
    position: relative;
    top: 3rem;
}

main h1+div {
    padding: 3rem 1rem;
}

nav {
    width: 100%;
    transition: .7s;
    transition-timing-function: ease-in-out;
    position: fixed;
    margin: 0;
    top: 0;
    z-index: 1;
}

.nav-button-container {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: white;
    padding: .5rem 1rem;
}

.nav-button {
    color: var(--text-color);
    display: inline-block;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    padding: .3rem;
    
}

.nav-title {
    float: right;
    padding: .3rem;
    color: var(--title-color);
}

.nav-elements-container {
    width: 50%;
    background-color: white;
    display: none;
}

.nav-elements-container.open {
    display: block;
}

nav li {
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    margin: 0;
    transition: .3s;
    transition-timing-function: ease-in-out;
    color: var(--title-color);
}

nav li a {
    display: block;
    padding: .5rem .6rem .5rem .6rem;
}

nav li:hover {
    background-color: rgba(0, 0, 0, .1);
    border-radius: .1rem;
}

nav li.current {
    color: var(--highlight);
}

main a {
    font-weight: bold;
    color: var(--title-color);
}

section p {
    margin-top: .3rem;
    margin-bottom: .3rem;
    text-align: justify;
}

img {
    box-shadow: .5px .5px 5px rgba(0, 0, 0, .2);
}

img.h {
    max-width: 100%;
    max-height: 15rem;
    width: 100%;
    margin: auto;

}

figure {
    width: 100%;
    margin: auto;
}

img.v {
    max-height: 100%;
    width: 100%;
    height: auto;
    margin: auto;
}

span.bold {
    font-weight: bold;
}

video {
    width: 100%;
    height: auto;
    margin: auto;
    padding: auto;
}

#other-text {
    display: inline-block;
}

#other-text.hidden {
    display: none;
}

input:invalid {
    border: 1px solid red;
}

button {
    background-color: rgba(255, 255, 255, 0);
    color: var(--title-color);
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    padding: auto;
    border: 2px solid var(--white-filter);
    border-radius: 5px;
    font-size: 1.3rem;
    width: 10rem;
    height: 2.7rem;
}

button:hover {
    animation-name: button-hover;
    animation-duration: .15s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes button-hover {
    from {
        background-color: rgba(255, 255, 255, 0);
        border-color: var(--white-filter);
        font-size: 1.3rem;
        box-shadow: none;

    }
    to {
        background-color: var(--white-filter);
        border-color: var(--highlight);
        font-size: 1.5rem;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .6);
    }
}

body>footer {
    text-align: center;
    background-color:rgba(255, 255, 255, .5);
    padding-top: .5rem;
    padding-bottom: .5rem;
}

footer a {
    font-size: 200%;
    display: inline-block;
    padding: .3rem .5rem;
    transition: .3s;
    transition-timing-function: ease-in-out;
}

a.linkedin {
    color: rgba(0, 119, 181, .4)
}

a.linkedin:hover {
    color: rgba(0, 119, 181, .7)
}

a.github {
    color: rgba(173, 92, 81, .4)
}

a.github:hover {
    color: rgba(173, 92, 81, .7)
}

a.instagram {
    color: rgba(253, 53, 92, .4)
}

a.instagram:hover {
    color: rgba(253, 53, 92, .7)
}

@media screen and (min-width: 480px) {
    img.v {
        width: 50vw;
        max-width: 15rem;
        float: left;
        margin-right: .4rem;
        margin-bottom: 1rem;
    }

    img.h {
        width: auto;
        float: left;
        margin-right: .4rem;
        margin-bottom: 1rem;
    }

    video {
        max-width: 30rem;
        width: 70%;
        float: left;
        margin-right: .4rem;
        margin-bottom: 1rem;
    }

}

@media screen and (min-width:768px) {
    nav {
        text-align: center;
        margin-top: 1.5rem;
        margin-bottom: .3rem;
        position: relative;
        z-index: 1;
        top: -12rem;
        font-size: 1.5rem;
    }
    
    nav.scroll {
        width: 100%;
        background-color: white;
        position: fixed;
        margin: 0;
        top: 0;
        z-index: 1;
    }

    .nav-elements-container {
        display: block;
        background-color: var(--white-filter);
        width: 100%;
    }

    .nav-button-container {
        display: none;
    }
    
    nav li {
        display: inline-block;
    }
    img.v {
        margin-right: 2rem;
        max-width: 12rem;
    }

    img.h {
        margin-right: 2rem;
        max-width: 25rem;
    }

    main h1+div {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    video {
        margin-right: 2rem;
    }


}

@media screen and (min-width:1250px) {

    main h1+div {
        margin-left: 8vw;
        margin-right: 8vw;
    }

    div.exp-wrapper {
        display: grid;
        grid-template: 2rem 17rem 5rem / repeat(20, 1fr);
        grid-gap: 1rem;
    }

    h2.exp-present-title {
        grid-row: 1 / 2;
        grid-column: 1 / 9;
        align-self: center;
    }

    figure.exp-present-pic {
        grid-row: 2 / 4;
        grid-column: 1 / 4;
        align-self: center;
    }

    p.exp-present-text {
        grid-row: 2 / 4;
        grid-column: 4 / 9;
        align-self: center;
    }

    h2.exp-past-title {
        grid-row: 1 / 2;
        grid-column: 10 / 21;
    }

    p.exp-past-text {
        grid-row: 3 / 4;
        grid-column: 10 / 21;
    }

    figure.exp-past-pic {
        grid-row: 2 / 3;
        grid-column: 12 / 19;
        justify-self: center;
    }

    div.exp-wrapper h2 {
        padding: 0;
        margin: 0;
    }

    img.v, img.h {
        margin: auto;
        max-width: 100%;
        padding: 0;
        float: none;
        height: auto;
    }

    img.h {
        max-height: 100%;
        width: auto;
    }

    img.v {
        width: 100%;
    }

    figure {
        padding: 0;
        margin: 0;
        float: none;
        width: 100%;
    }


}